a.out
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*
verlength-strings

TODO*

.libs
.deps
*.o
*.a
*.lo
*.la
*.lai
*.so
*.so.*
*.gcov
*.gcda
*.gcno

*.info
*.html
*~
libhideip.pc
libhideip.spec
libtool
libhideip.h
lhip_cfg.h
lhip_paths.h
lhip_public.c

lhiptest
lhiptest_banning
lhiptest_exec
lhiptest_ioctl
lhiptest_net
lhiptest_opens
lhiptest_other
lhiptest_pcap
lhiptest_resolve
lhiptest_uname
*.log
*.trs
